In [158]:
import pandas as pd

In [159]:
ncaamt = pd.read_csv('resources/KPB.csv')

In [160]:
ncaamt.drop(['CONF ID', 'TEAM NO'], axis=1, inplace=True)

In [161]:
ncaamt.drop(['QUAD NO', 'QUAD ID', 'K TEMPO', 'K TEMPO RANK'], axis=1, inplace=True)

In [162]:
ncaamt.drop(['KADJ T', 'KADJ T RANK', 'BADJT RANK', 'EXP RANK', 'TALENT RANK'], axis=1, inplace=True)

In [163]:
ncaamt.drop(['KADJ O', 'KADJ O RANK', 'K OFF', 'KO RANK'], axis=1, inplace=True)

In [164]:
ncaamt.drop(['KADJ D', 'KADJ D RANK', 'K DEF', 'KD RANK'], axis=1, inplace=True)

In [165]:
ncaamt.drop(['KADJ EM', 'KADJ EM RANK', 'BADJ EM', 'BADJ O'], axis=1, inplace=True)

In [166]:
ncaamt.drop(['BADJ D', 'BARTHAG'], axis=1, inplace=True)

In [167]:
ncaamt.drop(['3PTR RANK', '2PTRD RANK', '3PTRD RANK', 'AVG HGT RANK', 'EFF HGT RANK', 'FT% RANK', 'OP FT% RANK'], axis=1, inplace=True)

In [168]:
ncaamt.drop(['3PT% RANK', '3PT%D RANK', 'BLK% RANK', 'BLKED% RANK', 'AST% RANK', 'OP AST% RANK', '2PTR RANK'], axis=1, inplace=True)

In [169]:
ncaamt.drop(['OREB% RANK', 'DREB% RANK', 'OP OREB% RANK', 'OP DREB% RANK', 'RAW T RANK', '2PT% RANK', '2PT%D RANK'], axis=1, inplace=True)

In [170]:
ncaamt.drop(['BARTHAG RANK', 'EFG% RANK', 'EFGD% RANK', 'FTR RANK', 'FTRD RANK', 'TOV% RANK', 'TOV%D RANK'], axis=1, inplace=True)

In [171]:
ncaamt.drop(['BADJ EM RANK', 'BADJ O RANK', 'BADJ D RANK', 'PPPO RANK', 'PPPD RANK', 'ELITE SOS RANK'], axis=1, inplace=True)

In [172]:
ncaamt.drop(['TALENT', 'EXP', 'ELITE SOS'], axis=1, inplace=True)

In [173]:
ncaamt.drop(['BADJ T'], axis=1, inplace=True)

In [174]:
ncaamt.drop(['W', 'L'], axis=1, inplace=True)

In [175]:
ncaamt.drop(['GAMES'], axis=1, inplace=True)

In [176]:
ncaamt.drop(['AVG HGT', 'EFF HGT', 'PPPO', 'PPPD'], axis=1, inplace=True)

In [177]:
ncaamt.drop(['WAB'], axis=1, inplace=True)

In [178]:
ncaamt.drop(['TEAM ID'], axis=1, inplace=True)

In [179]:
ncaamt

,YEAR,CONF,TEAM,SEED,ROUND,WIN%,EFG%,EFG%D,FTR,FTRD,...,BLK%,BLKED%,AST%,OP AST%,2PTR,3PTR,2PTRD,3PTRD,FT%,OP FT%
0,2024,MAC,Akron,14,0,68.750000,52.0,48.6,33.6,29.0,...,8.0,7.8,48.2,45.4,58.5,41.5,63.2,36.8,72.4,69.4
1,2024,SEC,Alabama,4,0,65.625000,56.3,49.9,35.2,39.6,...,10.2,12.5,51.5,45.1,53.2,46.8,63.3,36.7,78.4,74.3
2,2024,P12,Arizona,2,0,75.757576,55.0,48.7,36.7,25.7,...,9.0,8.6,59.1,52.6,67.4,32.6,61.8,38.2,71.9,71.1
3,2024,SEC,Auburn,4,0,79.411765,54.1,43.4,38.2,41.0,...,16.0,8.6,62.0,42.8,62.5,37.5,66.7,33.3,75.2,73.6
4,2024,B12,Baylor,3,0,68.750000,55.6,51.3,40.5,30.9,...,8.5,9.8,53.9,52.9,61.7,38.3,64.5,35.5,74.0,73.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1074,2008,BE,West Virginia,7,16,69.696970,51.6,47.7,37.1,38.9,...,14.4,6.7,58.6,51.9,65.0,35.0,67.9,32.1,67.9,64.8
1075,2008,SB,Western Kentucky,12,16,80.645160,53.6,46.9,36.2,47.7,...,10.4,6.6,46.0,52.2,67.6,32.4,68.4,31.6,70.6,69.9
1076,2008,BSth,Winthrop,13,64,64.516130,50.0,46.1,36.3,33.8,...,11.8,7.1,54.7,59.8,68.3,31.7,57.2,42.8,59.8,69.6
1077,2008,B10,Wisconsin,3,16,87.878790,50.6,43.1,39.3,25.4,...,9.5,8.5,54.6,50.8,68.9,31.1,67.2,32.8,70.9,68.1
1078,2008,A10,Xavier,3,8,81.818180,55.0,46.8,41.7,31.5,...,10.2,10.9,61.1,60.4,62.9,37.1,62.2,37.8,75.0,67.3

In [180]:
columns = list(ncaamt.columns)
columns

['YEAR',
 'CONF',
 'TEAM',
 'SEED',
 'ROUND',
 'WIN%',
 'EFG%',
 'EFG%D',
 'FTR',
 'FTRD',
 'TOV%',
 'TOV%D',
 'OREB%',
 'DREB%',
 'OP OREB%',
 'OP DREB%',
 'RAW T',
 '2PT%',
 '2PT%D',
 '3PT%',
 '3PT%D',
 'BLK%',
 'BLKED%',
 'AST%',
 'OP AST%',
 '2PTR',
 '3PTR',
 '2PTRD',
 '3PTRD',
 'FT%',
 'OP FT%']

In [181]:
ncaamt['nEFG'] = ncaamt['EFG%'] - ncaamt['EFG%D']

In [182]:
ncaamt.drop(['EFG%', 'EFG%D'], axis=1, inplace=True)

In [183]:
ncaamt['nFTR'] = ncaamt['FTR'] - ncaamt['FTRD']

In [184]:
ncaamt.drop(['FTR', 'FTRD'], axis=1, inplace=True)

In [185]:
ncaamt['nTOV'] = ncaamt['TOV%'] - ncaamt['TOV%D']

In [186]:
ncaamt.drop(['TOV%', 'TOV%D'], axis=1, inplace=True)

In [187]:
ncaamt['nREB'] = ncaamt['OREB%'] - ncaamt['DREB%']

In [194]:
ncaamt.drop(['OREB%', 'DREB%'], axis=1, inplace=True)

In [189]:
ncaamt['nOpREB'] = ncaamt['OP OREB%'] - ncaamt['OP DREB%']

In [190]:
ncaamt.drop(['OP OREB%', 'OP DREB%'], axis=1, inplace=True)

In [192]:
ncaamt.drop(['RAW T'], axis=1, inplace=True)

In [196]:
ncaamt.drop(['nOpREB'], axis=1, inplace=True)

In [198]:
ncaamt['n2PT'] = ncaamt['2PT%'] - ncaamt['2PT%D']

In [200]:
ncaamt.drop(['2PT%', '2PT%D'], axis=1, inplace=True)

In [202]:
ncaamt['n3PT'] = ncaamt['3PT%'] - ncaamt['3PT%D']

In [203]:
ncaamt.drop(['3PT%', '3PT%D'], axis=1, inplace=True)

In [205]:
ncaamt['nBLK'] = ncaamt['BLK%'] - ncaamt['BLKED%']

In [207]:
ncaamt.drop(['BLK%', 'BLKED%'], axis=1, inplace=True)

In [209]:
ncaamt['nAST'] = ncaamt['AST%'] - ncaamt['OP AST%']

In [210]:
ncaamt.drop(['AST%', 'OP AST%'], axis=1, inplace=True)

In [212]:
ncaamt['n2PTR'] = ncaamt['2PTR'] - ncaamt['2PTRD']

In [213]:
ncaamt.drop(['2PTR', '2PTRD'], axis=1, inplace=True)

In [215]:
ncaamt['n3PTR'] = ncaamt['3PTR'] - ncaamt['3PTRD']

In [216]:
ncaamt.drop(['3PTR', '3PTRD'], axis=1, inplace=True)

In [218]:
ncaamt['nFT'] = ncaamt['FT%'] - ncaamt['OP FT%']

In [219]:
ncaamt.drop(['FT%', 'OP FT%'], axis=1, inplace=True)

In [222]:
ncaamt.drop(['n2PTR', 'n3PTR'], axis=1, inplace=True)

In [223]:
ncaamt

,YEAR,CONF,TEAM,SEED,ROUND,WIN%,nEFG,nFTR,nTOV,nREB,n2PT,n3PT,nBLK,nAST,nFT
0,2024,MAC,Akron,14,0,68.750000,3.4,4.6,0.6,-44.9,4.1,2.0,0.2,2.8,3.0
1,2024,SEC,Alabama,4,0,65.625000,6.4,-4.4,0.4,-35.2,6.5,4.6,-2.3,6.4,4.1
2,2024,P12,Arizona,2,0,75.757576,6.3,11.0,-2.0,-40.6,6.8,3.7,0.4,6.5,0.8
3,2024,SEC,Auburn,4,0,79.411765,10.7,-2.8,-3.3,-36.8,12.1,5.4,7.4,19.2,1.6
4,2024,B12,Baylor,3,0,68.750000,4.3,9.6,0.6,-37.8,1.5,5.9,-1.3,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1074,2008,BE,West Virginia,7,16,69.696970,3.9,-1.8,-7.0,-34.5,5.5,0.4,7.7,6.7,3.1
1075,2008,SB,Western Kentucky,12,16,80.645160,6.7,-11.5,-5.0,-30.2,5.6,6.1,3.8,-6.2,0.7
1076,2008,BSth,Winthrop,13,64,64.516130,3.9,2.5,-3.4,-37.2,1.3,6.4,4.7,-5.1,-9.8
1077,2008,B10,Wisconsin,3,16,87.878790,7.5,13.9,-2.8,-35.3,7.9,4.8,1.0,3.8,2.8
1078,2008,A10,Xavier,3,8,81.818180,8.2,10.2,0.3,-34.0,8.2,5.7,-0.7,0.7,7.7

In [221]:
ncaamt['SEED'].unique

<bound method Series.unique of 0       14
1        4
2        2
3        4
4        3
        ..
1074     7
1075    12
1076    13
1077     3
1078     3
Name: SEED, Length: 1079, dtype: int64>

In [226]:
ncaamt.dtypes

YEAR       int64
CONF      object
TEAM      object
SEED       int64
ROUND      int64
WIN%     float64
nEFG     float64
nFTR     float64
nTOV     float64
nREB     float64
n2PT     float64
n3PT     float64
nBLK     float64
nAST     float64
nFT      float64
dtype: object

In [228]:
ncaamt = ncaamt[ncaamt['YEAR'] != 2024]

In [229]:
ncaamt

,YEAR,CONF,TEAM,SEED,ROUND,WIN%,nEFG,nFTR,nTOV,nREB,n2PT,n3PT,nBLK,nAST,nFT
68,2023,SEC,Alabama,1,16,85.294118,11.2,3.9,3.1,-38.7,13.4,5.7,-0.1,13.0,1.2
69,2023,P12,Arizona,2,64,82.352941,9.6,10.5,1.5,-42.7,10.7,5.4,-1.0,15.9,-0.5
70,2023,P12,Arizona St.,11,64,64.705882,1.1,-2.6,-3.7,-38.6,4.1,-2.2,5.0,3.0,-1.3
71,2023,SEC,Arkansas,8,16,60.606061,5.5,-0.1,-2.1,-41.3,6.9,1.1,6.6,5.4,-2.4
72,2023,SEC,Auburn,9,32,62.500000,4.0,-3.6,-1.2,-34.7,4.1,2.6,5.1,6.3,-0.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1074,2008,BE,West Virginia,7,16,69.696970,3.9,-1.8,-7.0,-34.5,5.5,0.4,7.7,6.7,3.1
1075,2008,SB,Western Kentucky,12,16,80.645160,6.7,-11.5,-5.0,-30.2,5.6,6.1,3.8,-6.2,0.7
1076,2008,BSth,Winthrop,13,64,64.516130,3.9,2.5,-3.4,-37.2,1.3,6.4,4.7,-5.1,-9.8
1077,2008,B10,Wisconsin,3,16,87.878790,7.5,13.9,-2.8,-35.3,7.9,4.8,1.0,3.8,2.8
1078,2008,A10,Xavier,3,8,81.818180,8.2,10.2,0.3,-34.0,8.2,5.7,-0.7,0.7,7.7

In [230]:
ncaamt.describe()

,YEAR,SEED,ROUND,WIN%,nEFG,nFTR,nTOV,nREB,n2PT,n3PT,nBLK,nAST,nFT
count,1011.000000,1011.000000,1011.000000,1011.000000,1011.000000,1011.000000,1011.000000,1011.000000,1011.000000,1011.000000,1011.000000,1011.000000,1011.000000
mean,2015.255193,8.768546,43.949555,72.482880,4.670623,3.788823,-1.650247,-38.203858,4.777349,2.931751,1.890208,3.766469,1.478734
std,4.591874,4.673269,22.906794,9.963028,3.312188,6.621056,2.880623,6.046884,3.925526,3.123737,3.447756,6.219090,3.946608
min,2008.000000,1.000000,1.000000,36.666670,-7.400000,-18.400000,-11.500000,-58.200000,-9.400000,-7.400000,-7.500000,-25.800000,-12.000000
25%,2011.000000,5.000000,32.000000,65.625000,2.400000,-0.650000,-3.600000,-42.200000,2.100000,0.800000,-0.500000,-0.200000,-1.000000
50%,2015.000000,9.000000,64.000000,72.727270,4.600000,3.600000,-1.600000,-38.100000,4.700000,3.000000,1.800000,3.900000,1.500000
75%,2019.000000,13.000000,64.000000,78.787880,6.800000,8.000000,0.400000,-33.950000,7.300000,5.000000,4.200000,7.800000,4.100000
max,2023.000000,16.000000,68.000000,100.000000,16.400000,27.500000,5.800000,-22.100000,19.300000,13.900000,13.300000,22.700000,12.900000